
	
	form {
		margin-left:30%;
		background-color:#d3fff3;
		border: 3px solid #8aa39c;
		width:40%;
		padding: 2% 1%;
	}
	p{
		color:red;
	}

	input{
		width: 90%;
		padding: 12px 20px;
		margin: 5% 3% ;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
	}
	
	label{
		margin-left: 5%;
	}
	
	.button {
		background-color: #33697a;
		color: white;
		padding: 2% 7%;	
		border: none;
		border-radius: 3%;
		height: 10%;
		width: 80%;
		margin-left: 10%;
		margin-bottom: 5%;
	}

	.button:hover {
		opacity: 0.8;
	}

